@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #e5e5e5;
	background-color: #1a1e23;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Mulish', sans-serif;
}

.ql-toolbar, .ql-snow {
	border: none !important;
	margin-top: 30px;
}

.ql-editor p{
	color: black;
	min-height: 400px;
}

img {
	max-width: 100%;
}